In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("indices_QA_commune_IDF_2017.csv")
commune=pd.read_csv("2024-11-15-comagri-communes-aires-ao.csv")
comorbidites= pd.read_csv("comorbidites.csv")

In [3]:
data.shape

(476485, 5)

In [6]:
data.columns

Index(['date', 'ninsee', 'no2', 'o3', 'pm10'], dtype='object')

In [7]:
data['ninsee'].unique

<bound method Series.unique of 0             0
1            75
2            77
3            78
4            91
          ...
476480    95676
476481    95678
476482    95680
476483    95682
476484    95690
Name: ninsee, Length: 476485, dtype: int64>

In [8]:
data['dept']= data['ninsee'].astype(str).str[:2]

In [9]:
data['dept']= data['dept'].astype(int)

In [14]:
var=['no2', 'o3', 'pm10']
data_dept=data.groupby('dept')[var].mean().reset_index()

In [20]:
vars=['dept','no2', 'o3', 'pm10']
data_dept=round(ivy[vars],2)

In [21]:
data_dept

   dept    no2     o3   pm10
0     0  37.89  35.77  36.33
1    75  32.50  28.17  33.52
2    77  15.03  31.92  26.75
3    78  17.17  31.91  24.82
4    91  17.32  32.16  25.00
5    92  27.45  29.55  30.48
6    93  30.12  30.31  31.76
7    94  28.74  29.86  31.48
8    95  19.17  32.84  27.26