In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [11]:
df = pd.read_csv('Principal_data4.csv',sep = ',')

In [12]:
# Encodage binaire sexe
df["sexe"] = df["sexe"].map({1: 1, 2: 0})

In [13]:
# Colonnes à encoder en One-Hot
onehot_features = ["dept", "cla_age_5"]

In [14]:
# Colonnes à laisser en l'état (numériques ou déjà transformées)
# Ex: "prev", "no2", "pm10", "o3", "sexe", "Niveau prioritaire", etc.
# Remainder='passthrough' va les conserver sans transformation
# Définition du ColumnTransformer
########################################################
preprocessor = ColumnTransformer(
    transformers=[
        ("ohe", OneHotEncoder(drop="first", sparse_output = False) , onehot_features)
    ],
    remainder="passthrough"
)

In [15]:
# 3) Application du ColumnTransformer (ou dans un Pipeline)

df_array = preprocessor.fit_transform(df)

# Récupération des noms des colonnes One-Hot
onehot_colnames = preprocessor.named_transformers_["ohe"].get_feature_names_out(onehot_features)
# Récupération des noms de colonnes "passthrough" dans l'ordre
passthrough_cols = [col for col in df.columns if col not in onehot_features]

In [18]:
# Fusion des noms dans le bon ordre
final_col_names = list(onehot_colnames) + passthrough_cols

# Création d'un nouveau DataFrame final
df_final = pd.DataFrame(df_array, columns=final_col_names)

df_final.head(2)

,dept_77,dept_78,dept_91,dept_92,dept_93,dept_94,dept_95,cla_age_5_05-09,cla_age_5_10-14,cla_age_5_15-19,...,cla_age_5_85-89,cla_age_5_90-94,cla_age_5_95et+,cla_age_5_tsage,sexe,prev,Niveau prioritaire,no2,o3,pm10
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0,12.957,"1,2,3",30.123288,35.389041,33.205479
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0,11.572,"1,2,3",28.649315,34.536986,30.945205